.titleInput {
  @apply border-b-[1px] border-[#C6C6C6] focus:border-b-[2px] focus:border-[#118CFF] w-full focus:outline-[0px]
      leading-[1.3];
}

.expandableInput {
  display: block;
  word-break: break-word;
  overflow: hidden;
  resize: none;
}

.errorBottomBorder {
  border-bottom: 2px solid #cc0000 !important;
}
