$primary: #e60023;
$primaryHovered: #ad081b;
$secondary: #efefef;
$secondaryHovered: #e2e2e2;

$dinnerIdea: #c28b00;
$homeDecor: #618c7b;
$newOutfit: #0076d3;
$thumbIdea: #407a57;

@layer base {
	[data-theme='base'] {
		--color-primary: $primary;
		--color-primary-hovered: $primaryHovered;
		--color-secondary: $secondary;
		--color-secondary-hovered: $secondaryHovered;
		--color-text-primary: white;
		--color-text-secondary: black;
		--radius-common: 24px;
	}

	[data-theme='business'] {
		--color-primary: #7801e1;
		--color-primary-hovered: #5600a4;
		--color-secondary: #cdc3f3;
		--color-secondary-hovered: #9993b0;
		--color-text-primary: #7762ff;
		--color-text-secondary: black;
		--radius-common: 24px;
	}

	[slider-theme='dinnerIdea'] {
		--slider-theme: $dinnerIdea;
	}

	[slider-theme='homeDecor'] {
		--slider-theme: $homeDecor;
	}

	[slider-theme='newOutfit'] {
		--slider-theme: $newOutfit;
	}

	[slider-theme='thumbIdea'] {
		--slider-theme: $thumbIdea;
	}
}
